 .zoomable-image-container {
    overflow: hidden;
    position: relative;
  }
  
  .zoomable-image {
    transition: transform 0.5s ease;
    border-radius: 8%;
  }

  
  .zoomable-image-container.zoomed .zoomable-image {
    transform: scale(1.2);
  }
   

