@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item{
    box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.18);
  transition: all 0.2s ;
}

 body {
  background-color: rgb(238, 238, 238);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px 60px;
}

 .form {
  box-shadow: 1px 3px 5px 4px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 1px 3px 20px 5px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 3px 5px 4px rgba(0, 0, 0, 0.18);
}

.error-message{
  color: rgb(192, 28, 28);
  font-size: small;
}

.label{
  margin-top: 10px;
}

.carousel-img {
  animation: anopacity 3s ease-in-out;
}

@keyframes anopacity {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes chevrondown {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translate(0);
  }
}

.fas.fa-chevron-down.fa-3x {
  animation: chevrondown 1.2s infinite;
  position: absolute;
  top: 80%;
  left: 46%;
  color: rgb(12, 155, 155);
  cursor: pointer;
}