@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item{
    box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.18);
}

body {
  background-color: rgb(243, 243, 243);
}